{
  "title": "CodeReady Workspaces ",
  "name": "CodeReady Workspaces",
  "productVersion": "@@crw.version@@",
  "logoFile": "che-logo.svg",
  "logoTextFile": "che-logo-text.svg",
  "helpPath": "https://access.redhat.com/products/red-hat-codeready-workspaces/",
  "helpTitle": "Support",
  "supportEmail": "codeready-workspaces-wish@redhat.com",
  "docs": {
    "devfile" : "@@crw.docs.baseurl@@/html-single/end-user_guide/index#configuring-a-workspace-using-a-devfile_crw",
    "workspace" : "@@crw.docs.baseurl@@/html-single/end-user_guide/index#workspaces-overview_crw",
    "converting": "https://access.redhat.com/documentation/en-us/red_hat_codeready_workspaces/2.0/html-single/end-user_guide/index#converting-a-codeready-workspaces-1.2-workspace-to-a-codeready-workspaces-2.0-devfile",
    "certificate": "@@crw.docs.baseurl@@/html-single/end-user_guide/index#importing-certificates-to-browsers_crw",
    "general": "@@crw.docs.baseurl@@/",
    "storageTypes": "@@crw.docs.baseurl@@/html-single/installation_guide/index#configuring-storage-types_crw",
    "webSocketTroubleshooting": "@@crw.docs.baseurl@@/html-single/end-user_guide/index#troubleshooting-network-problems_crw"
  },
  "configuration": {
    "cheCliTool": "crwctl"
  }
}
