# Eclipse  #
###################

.classpath
.project
.settings/
target/
bin/
test-output/

# Idea #
##################
*.iml
*.ipr
*.iws
.idea/

.DAV

che-dto.ts
v3/**/latest/

resources/
/root-local.tgz
/resources.tgz
airgap.Dockerfile

node_modules/
.eslintcache
coverage
output
