# Eclipse  #
###################

.classpath
.project
.settings/
target/
bin/
test-output/

# Idea #
##################
*.iml
*.ipr
*.iws
.idea/

.DAV

che-dto.ts
v3/**/latest/

resources/
/root-local.tgz
/resources.tgz
airgap.Dockerfile

node_modules/
.eslintcache
coverage
output

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
# zero-install mode
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
# Needed because the repo root .gitignore includes all .zip files
!.yarn/cache/*.zip
