#
# Copyright (c) 2020-2021 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#

name: Overall project - PR check - Linelint
# if this fails, see https://github.com/fernandrone/linelint#usage for how to debug the problem locally
# or add paths to ignore in ../../.linelint.yml
on:
  pull_request:
    paths:
      - 'dependencies/che-plugin-registry/**'
    branches: 
      - '**'
jobs:
  # check EOF newline
  linelint:
    runs-on: ubuntu-20.04
    name: eof-newline
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Linelint
        uses: fernandrone/linelint@7907a5dca0c28ea7dd05c6d8d8cacded713aca11 #0.0.6
        id: linelint
